/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

.atf-container {
  background-color: #fff;
  box-sizing: border-box;
  padding: 0;
  transition: 1.2s;
  position: relative; }
  .atf-container .atf-main-menu {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: .6s;
    background-color: #192b39;
    width: 0;
    z-index: 100; }
    .atf-container .atf-main-menu.open {
      width: 75vw; }
  .atf-container .atf-inner-cover {
    background-image: url("../images/example-bg2.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; }
  .atf-container.marginized {
    padding: 4rem; }

.right-wing {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 10rem;
  display: flex;
  overflow-x: hidden; }
  .right-wing .menu-box {
    margin: auto;
    width: 10rem;
    height: 3.6rem;
    transition: 1s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 10rem; }
    .right-wing .menu-box.slided {
      left: 0; }
    .right-wing .menu-box .burger-line-cont {
      width: 100%;
      height: 1rem;
      position: relative;
      width: 10rem; }
      .right-wing .menu-box .burger-line-cont .burger-line {
        position: absolute;
        top: .5rem;
        width: 3rem;
        height: .1rem;
        background-color: #ffffff;
        transition: 0.3s; }
        .right-wing .menu-box .burger-line-cont .burger-line.line-top {
          right: 2rem; }
        .right-wing .menu-box .burger-line-cont .burger-line.line-mid {
          right: 2rem; }
        .right-wing .menu-box .burger-line-cont .burger-line.line-bottom {
          right: 2rem; }
    .right-wing .menu-box:hover .burger-line.line-top {
      width: 4rem; }
    .right-wing .menu-box:hover .burger-line.line-bottom {
      background-color: #d96115;
      width: 6rem; }
    .right-wing .menu-box:hover .burger-line.line-mid {
      background-color: #d96115;
      width: 5rem; }

.decoding-phrase, .extention {
  font-family: "Source Code Pro", monospace;
  color: #fff;
  font-size: 6rem;
  font-weight: 300; }

.decoding-phrase > .single-char.foxed {
  color: #d96115; }

.decoding-phrase > .single-char.foxed.ondraw {
  color: #fff; }

.extention {
  opacity: 0;
  transition: 1s; }

.extention.visible {
  opacity: 1; }

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .title-container .decoding-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 52rem;
    position: relative;
    margin-bottom: 1rem;
    transition: 3s;
    opacity: 0; }
    .title-container .decoding-box.visible {
      opacity: 1; }
  .title-container .describe-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 52rem;
    position: relative; }
    .title-container .describe-box p {
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-weight: 200;
      font-size: 1.6rem;
      margin: 0 1.5rem 0 .5rem;
      letter-spacing: .35rem; }
      .title-container .describe-box p:last-child {
        margin: 0 0 0 .6rem; }
    .title-container .describe-box .description-sentence-pl {
      opacity: 0;
      transition: 1s; }
      .title-container .describe-box .description-sentence-pl.visible {
        opacity: 1; }

/*# sourceMappingURL=main.css.map */
