html {
  font-size: 62.5%;
}
.atf-container {
  background-color: #000;
  @include incol;
  justify-content: center;
}
.decoding-phrase {
  font-family: $font-main;
  color: #fff;
  font-size: 5rem;
  margin-bottom: 5rem;
}
