html {
  font-size: 62.5%;
}
.atf-container {
  background-color: #fff;
  box-sizing: border-box;
  padding: 0;
  transition: 1.2s;
  position: relative;
  .atf-main-menu {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: .6s;
    //background-color: $color-foxy;
    background-color: $color-foxy-blue;
    width: 0;
    z-index: 100;
    &.open {
      width: 75vw;
    }
  }
  .atf-inner-cover {
    //background-color: #111111;
    background-image: url('../images/example-bg2.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    @include incol;
    justify-content: center;
    position: relative;
  }
  &.marginized {
    padding: 4rem;
  }
}
.right-wing {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 10rem;
  display: flex;
  overflow-x: hidden;
  .menu-box {
    margin: auto;
    width: 10rem;
    height: 3.6rem;
    transition: 1s;
    cursor: pointer;
    @include incol;
    position: relative;
    left: 10rem;
    &.slided {
      left: 0;
    }
    .burger-line-cont {
      width: 100%;
      height: 1rem;
      position: relative;
      width: 10rem;
      .burger-line {
        position: absolute;
        top: .5rem;
        width: 3rem;
        height: .1rem;
        background-color: #ffffff;
        transition: 0.3s;
        &.line-top {
          right: 2rem;
        }
        &.line-mid {
          right: 2rem;
        }
        &.line-bottom {
          right: 2rem;
        }

      }

    }
    &:hover {

      .burger-line {
        &.line-top {
          width: 4rem;
        }
        &.line-bottom {
          background-color: $color-foxy;
          width: 6rem;
        }
        &.line-mid {
          background-color: $color-foxy;
          width: 5rem;
        }
      }
    }
  }
}
.decoding-phrase, .extention {
  font-family: $font-main;
  color: #fff;
  font-size: 6rem;
  font-weight: 300;
}
.decoding-phrase > .single-char.foxed {
  color: $color-foxy;
}
.decoding-phrase > .single-char.foxed.ondraw {
  color: #fff;
}
.extention {
  opacity: 0;
  transition: 1s;
}
.extention.visible {
  opacity: 1;
}
.title-container {
  @include incol;
  .decoding-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 52rem;
    position: relative;
    margin-bottom: 1rem;
    transition: 3s;
    opacity: 0;
    &.visible {
      opacity: 1;
    }
  }
  .describe-box {
    @include inrow;
    width: 52rem;
    position: relative;
    p {
      color: #fff;
      font-family: $font-mont;
      font-weight: 200;
      font-size: 1.6rem;
      margin: 0 1.5rem 0 .5rem;
      letter-spacing: .35rem;
      &:last-child {
        margin: 0 0 0 .6rem;
      }
    }
    .description-sentence-pl {
      opacity: 0;
      transition: 1s;
      &.visible {
        opacity: 1;
      }
    }
  }
}
