//fonts
$font-main: 'Source Code Pro', monospace;
$font-mont: 'Montserrat', sans-serif;
//colors
$color-foxy: #d96115;
$color-foxy-blue: #192b39;
$color-foxy-blue-glass: rgba(#192b39, .6);
$color-foxy-glass: rgba(#d96115, 0.7);